<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splur</h1>

  <p>
    Splur was built by <a target="_blank" href="http://github.com/tpetrini">Tom</a>. Working hard to learn how to code.
  </p>
  <br />
  <p>
    Entrepreneurship and learning are two of his main passions.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'tom.jpg', :class => 'img-responsive' %>
  </div>

   <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Tom Petrini</h2>
    <br />
    <p>
      Tom Petrini has the full spectrum of entrepreneurial experience. Five years ago he founded his first startup (<a target="_blank" href="http://www.evivestation.com/">Evive Station</a>) and has since scaled Evive across the US. The Evive Network has been used over one million times.  Prior to founding Evive, Tom led global multi-million dollar process improvement projects at Heinz.  In his spare time he enjoys scuba diving, snowboarding, skydiving, motorcycling, traveling the world, learning and most importantly spending time with his family.
    </p>
  </div>
 

</div>

<br class="clear" />
<br />
<br />
<br />
<br />